@media (orientation: portrait)
{
	body {

		padding: 0px;
		border: 0px;
		margin: 143px 0 0 0;
	}

	span {

		display: block;
		background-color: #05212e;
		color: whitesmoke;
			
	}

	#services {

		position: relative;
		top: -70px;
		margin-bottom: 0px;

	}

	#service {

		position: relative;
		top: -70px;
	}

	
	#logo{
		margin-top: 20px;
		width: 50%;
		margin-left:25%;
	}

	.sidenav {

		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
		
	}

	.sidenav a {

		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		transition: 0.3s;
		
	}

	.sidenav a:hover {

		color: #f1f1f1
		
	} 


	.sidenav .closebtn {

		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	#main {

		transition: margin-left .5s;
		padding: 20px;
		
	}
	
	.icon {

		width: 10px;
		
	}

	#fixedbar {

		position: fixed;
		top: 0px;
		background-color: #05212e;
		z-index: 1;
	
	}

	#contact-info {
	
		float: right;
	}

	h4{
	
		font-size:10px;

	}

	h2{
		color: black;
		text-align: center;
		font-family: sans-serif;
		font-style: arial;
		font-size: 25px;
		margin: 50px 0;
	}	

	#ship{

		width: 100%;

	}

	img{

		vertical-align: middle;
	}


	#ending {

		width: 100%;
		background-color: #05212e;

	}

	#cdb {

		display: block;
		width: 50%;
		margin-left: 25%;
		border-radius: 500px;

	}

	#apeda {

		display: block;
		width: 50%;
		margin-left: 25%;
		border-radius: 100px;

	}

	#gst {

		display: block;
		width: 50%;
		margin-left: 25%;
		border-radius: 500px;

	}

	#contacts {

		position: relative;
		top: -70px;
	}
	
	#email {

		margin-right: 2px;

	}

	#copyrights {

		color: white;
		opacity: 0.6;
		font-size: 10px;
		text-indent: 0px;
		margin: 20px 0 20px 0;

	}


	.empty{

		display: block;
		width: 100%;
		height: 50px;

	}

	h3 {

		color:white;
		text-align: center;
		font-family: sans-serif;
		font-style: arial;
		font-size: 18px;

	}

	.filler{

		display: block;
		width: 100%;
		height: 25px;
	}



	.sub-headings {

		margin: 50px 0 25px 0;
		text-align: center;
		font-size: 25px;
		font-style: italic;
		
	}

	.additional-details {

		font-family: sans-serif;
		font-style: arial;
		text-indent: 50px;
		text-align: justify;
		width: 90%;
		margin-left: 5%;
		
	}

	#product-names {

		position: relative;
		background-image: url('chaakumoota.png');
		background-repeat: no-repeat;
		background-size: 300px 50px;
		color: whitesmoke;
		font-style: italic;
		top: -75px;
		z-index: 0;
		padding: 1%;
		width: 60%;
		text-indent: 20px;
		font-size: 30px;
		font-family: sans-serif;
		border: 0px;
		margin: 0 19%;
	}

	#filter-coconut{

		position: relative;
		background-image: url('chaakumoota.png');
		background-repeat: no-repeat;
		background-size: 300px 50px;
		color: whitesmoke;
		font-style: italic;
		top: -75px;
		z-index: 0;
		padding: 1%;
		width: 60%;
		text-indent: 50px;
		font-size: 30px;
		font-family: sans-serif;
		border: 0px;
		margin: 0 19%;
	}

	#coconut {

		display: block;
		width: 100%;
		margin-bottom: 50px;
	}

	#agro-products {

		display: block;
		width: 100%;
		margin-bottom: 50px;
		
	}

	.contact-details {

		text-align: center;
		display: block;
		width: 100%;
		font-size: 20px;
		font-family: sans-serif;
		font-style: arial;
		
	}

	#contact {

		background-color: darkgray;
		width: 100%;
		margin-bottom: 50px;
		position: relative;
		top: -70px;

	}

}


@media (orientation: landscape)
{
	body {

		padding: 0px;
		border: 0px;
		margin: 170px 0 0 0;
		overflow-x: hidden;
	}

	span {

		display: block;
		background-color: #05212e;
		color: whitesmoke;
			
	}

	
	#logo{

		display: block;
		margin-top: 20px;
		width: 20%;
		margin-left:40%;
	}

	.sidenav {

		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
		
	}

	.sidenav a {

		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		transition: 0.3s;
		
	}

	.sidenav a:hover {

		color: #f1f1f1
		
	} 


	.sidenav .closebtn {

		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	#main {

		transition: margin-left .5s;
		padding: 20px;
		
	}
	
	.icon {

		width: 10px;
		
	}

	#fixedbar {

		width: 100%;
		position: fixed;
		top: 0px;
		background-color: #05212e;
		z-index: 1;

	}

	#contact-info {
	
		float: right;

	}

	h4{
	
		font-size:10px;

	}

	h2{

		color: black;
		text-align: center;
		font-family: sans-serif;
		font-style: arial;
		font-size: 25px;
		margin: 50px 0;
	}	

	#ship{

		width: 50%;
		margin-left: 25%;
		margin-top: 25px;
		margin-bottom: 50px;

	}

	img{

		vertical-align: middle;
	}


	#ending {

		width: 100%;
		background-color: #05212e;

	}

	#cdb {

		display: block;
		width: 20%;
		margin-left: 40%;
		border-radius: 500px;

	}

	#gst {

		display: block;
		width: 20%;
		margin-left: 40%;
		border-radius: 500px;

	}

	#email {

		margin-right: 2px;

	}


	#apeda {

		display: block;
		width: 20%;
		height: 200px;
		margin-left: 40%;
		border-radius: 100px;

	}

	#copyrights {

		color: white;
		opacity: 0.6;
		font-size: 10px;
		text-indent: 0px;
		margin: 20px 0 20px 0;

	}


	.empty{

		display: block;
		width: 100%;
		height: 50px;

	}

	h3 {

		color:white;
		text-align: center;
		font-family: sans-serif;
		font-style: arial;
		font-size: 18px;

	}

	.filler{

		display: block;
		width: 100%;
		height: 25px;
	}


	.sub-headings {

		margin: 50px 0;
		text-align: center;
		font-size: 40px;
		font-style: italic;
		
	}

	.additional-details {

		font-family: sans-serif;
		font-style: arial;
		text-indent: 50px;
		text-align: justify;
		width: 50%;
		margin-left: 25%;
		margin-bottom: 50px;
		font-size: 25px;
		
	}

	#product-names {

		position: relative;
		background-image: url('chaakumoota.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: whitesmoke;
		font-style: italic;
		top: -75px;
		z-index: 0;
		padding: 1%;
		width: 30%;
		text-align: center;
		font-size: 30px;
		font-family: sans-serif;
		border: 0px;
		margin: 0 34%;
	}

	#filter-coconut{

		position: relative;
		background-image: url('chaakumoota.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: whitesmoke;
		font-style: italic;
		top: -75px;
		z-index: 0;
		padding: 1%;
		width: 20%;
		text-indent: 50px;
		font-size: 30px;
		font-family: sans-serif;
		border: 0px;
		margin: 0 39%;
	}

	#coconut {

		display: block;
		width: 50%;
		margin:0 25% 50px 25%;
	}

	#agro-products {

		display: block;
		width: 50%;
		margin:0 25% 50px 25%;

		
	}

	.contact-details {

		text-align: center;
		display: block;
		width: 80%;
		margin-left: 10%;
		font-size: 20px;
		font-family: sans-serif;
		font-style: arial;
		
	}

	#contact {

		background-color: darkgray;
		width: 100%;
		margin-bottom: 50px;

	}

}





