/* Universal reset */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #b0b0b1
}

/* Universal reset */

/*Header section*/

#website-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(/images/background.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.meta-info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    line-height: 2;
}

.title-bar-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
}

.header__logo {
    width: max(15%, 175px);
    margin: 10px;
}

.ham-menu-icon {
    display: none;
    flex-direction: column;
    margin: 10px;
}

.header__button {
    width: 35px;
    height: 5px;
    margin: 2px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 1%;
    text-align: center;
}

.nav-menu-items {
    font-size: 1.3rem;
    padding: 3px;
    color: aliceblue;
}

a:hover {
    text-decoration: underline;
}


/*Header section*/

/*Main Section*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 7% 6% 0;
    gap: 5px;
}

.main__grid-items {
    text-align: center;
    line-height: 2;
    padding: 5px;
}

#about:hover, #services:hover, #products:hover {
    border: 2px solid steelblue;
}

main i {
    font-size: 3rem;
    color: tomato;
}

#about, #services, #products{
    background-color: aliceblue;
    padding: 5%;
}

main aside {
    margin: 5% auto 5%;
    grid-column: 1/-1;
}

.btn {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #2980b9);
    background-image: -moz-linear-gradient(top, #d93434, #2980b9);
    background-image: -ms-linear-gradient(top, #d93434, #2980b9);
    background-image: -o-linear-gradient(top, #d93434, #2980b9);
    background-image: linear-gradient(to bottom, #d93434, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #d93434);
    background-image: -moz-linear-gradient(top, #d93434, #d93434);
    background-image: -ms-linear-gradient(top, #d93434, #d93434);
    background-image: -o-linear-gradient(top, #d93434, #d93434);
    background-image: linear-gradient(to bottom, #d93434, #d93434);
    text-decoration: none;
  }

/*Main Section*/

/*Footer Section*/

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 1.5% 2.5% 0.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b0b0b1;
    background-color: #12172e;
    font-weight: bolder;
    align-items: center;
}

hr {
    width: 10%;
    border-top: 10px dotted gray;
    margin: 0 auto 30px;
}

footer * {
    text-align: center;
    line-height: 1.5;
}

.quick-links {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.1rem;
}

.quick-links .nav-menu-items {
    font-size: 1rem;
    line-height: 1.5;
    color: #b0b0b1;
}



/*Footer Section*/

/* @media.. */

@media screen and (max-width: 850px){
    
    #website-header {
        height: auto;
        justify-content: flex-start;
    }

    .header__logo{
        width: max(200px, 10%);
    }

    .meta-info h1, .meta-info h2 {
        font-size: 4rem;
    }

    .ham-menu-icon {
        display: flex;
    }

    .title-bar-cont {
        flex-direction: column;
        justify-content: flex-start;
    }

    .title-bar {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav {
        width: 100%;
        padding: 2% 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        margin: 0;
    }

    .title-bar-cont:hover .header__nav {
        display: flex;
    }

    main {
        grid-template-columns: 1fr 1fr;
        padding: 7% 5% 2%;
    }

    #about, #services {
        background-color: aliceblue;
        padding: 5%;

    }

    #products, #products-page {
        grid-column: 1 / -1;
        padding: 2% 20%;
        background-color: aliceblue;
    }

    footer {
        grid-template-columns: 1fr;
    }

    footer * {
        line-height: 5;
    }

    .copyrights-msg {
        grid-column: 1/ -1;
        font-size: .75rem;
    }

}

@media screen and (max-width:600px){

    #website-header {
        height: auto;
        justify-content: flex-start;
    }

    .header__logo {
        width: min(90%, 120px);
        margin: 10px;
    }

    .ham-menu-icon {
        display: flex;
    }

    .meta-info h1, .meta-info h2 {
        font-size: 1.5rem;
    }

    .header__nav {
        display: none;
        z-index: 1;
    }

    main {
        grid-template-columns: 1fr;
        padding: 5% 10% 2.5%;
        font-size: 1rem;
    }

    main article i {
        font-size: 2rem;
    }

    #products {
        padding: 2%;
    }

    #about, #services, #products, #products-page {
        background-color: transparent;
    }

    .quick-links {
        flex-direction: column;
    }

    footer {
        grid-template-columns: 1fr;
    }

    footer * {
        line-height: 5;
    }

    .footer__nav p {
        display: none;
    }
}